.partners {
    background-color: #fafafa;
    padding: 50px 0 140px;
    /* margin-bottom: 200px; */
}

.partners__inner {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.partners__item {
    flex: 1 1 calc(100% / 6);
    text-align: center;
}

.partners__item img {
    max-width: 100%;
}

/* ================================================================================================ */
/* ================================================================================================ */

/* RESPONSIVE DESIGN */

@media (max-width: 767.98px) {
    .partners__inner {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .partners__item {
        flex: 1 1 calc(100% / 3.5);
    }
}

/* ================================================================================================ */

@media (max-width: 479.98px) {
    .partners__item {
        flex: 1 1 calc(100% / 2.3);
    }
}
